<a href="https://colab.research.google.com/github/JesseHenson/School/blob/main/CSC526__CTA5_Option_1_henson_jesse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
np.random.seed(0)

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [2]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [7]:
X = df.drop('species', axis=1)
y = df[['species']]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42)

In [10]:
# Create two new dataframes, one with the training rows and one with the test rows
print('Number of observations in the total data:', len(X))
print('Number of observations in the training data:', len(X_train))
print('Number of observations in the test data:',len(X_test))

Number of observations in the total data: 150
Number of observations in the training data: 112
Number of observations in the test data: 38

In [14]:
# 4) Train the random forest classifier.
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(random_state=42)

In [17]:
# 5) Apply the classifier to the test data and make a screenshot of the predicted probabilities of the first 10 observations.
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
preds = clf.predict(X_test)

In [29]:
# 6) Evaluate the classifier by comparing the predicted and actual species for the first five observations.
final_compare = y_test.copy()
final_compare['Prediction'] = preds
final_compare['not_accurate'] = final_compare.apply(lambda x: x['Prediction'] != x['species'], axis=1)

final_compare

        species  Prediction  not_accurate
73   versicolor  versicolor         False
18       setosa      setosa         False
118   virginica   virginica         False
78   versicolor  versicolor         False
76   versicolor  versicolor         False
31       setosa      setosa         False
64   versicolor  versicolor         False
141   virginica   virginica         False
68   versicolor  versicolor         False
82   versicolor  versicolor         False
110   virginica   virginica         False
12       setosa      setosa         False
36       setosa      setosa         False
9        setosa      setosa         False
19       setosa      setosa         False
56   versicolor  versicolor         False
104   virginica   virginica         False
69   versicolor  versicolor         False
55   versicolor  versicolor         False
132   virginica   virginica         False
29       setosa      setosa         False
127   virginica   virginica         False
26       setosa      setosa         False
128   virginica   virginica         False
131   virginica   virginica         False
145   virginica   virginica         False
108   virginica   virginica         False
143   virginica   virginica         False
45       setosa      setosa         False
30       setosa      setosa         False
22       setosa      setosa         False
15       setosa      setosa         False
65   versicolor  versicolor         False
11       setosa      setosa         False
42       setosa      setosa         False
146   virginica   virginica         False
51   versicolor  versicolor         False
27       setosa      setosa         False

In [32]:
# 7) Create a confusion matrix and use it to interpret the classification method.
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, preds)

array([[15,  0,  0],
       [ 0, 11,  0],
       [ 0,  0, 12]])

In [33]:
# 8) View the list of features and their importance scores.
# View a list of the features and their importance scores
list(zip(X_train, clf.feature_importances_))

[('sepal length (cm)', 0.10968334025487811),
 ('sepal width (cm)', 0.02954459344455645),
 ('petal length (cm)', 0.4376348584610396),
 ('petal width (cm)', 0.42313720783952574)]